<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amadeus.web.dao.CourseImageMapper">
    <resultMap id="BaseResultMap" type="com.amadeus.framework.domain.course.CourseImage">
        <id column="image_id" property="imageId" jdbcType="CHAR"/>
        <result column="small_image" property="smallImage" jdbcType="VARCHAR"/>
        <result column="medium_image" property="mediumImage" jdbcType="VARCHAR"/>
        <result column="big_image" property="bigImage" jdbcType="VARCHAR"/>
        <result column="banner" property="banner" jdbcType="VARCHAR"/>
        <result column="is_banner" property="isBanner" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="O2OInfoResultMap" type="com.amadeus.framework.domain.course.CourseImage"
               extends="BaseResultMap">
        <association property="courseInfo" column="course_id" javaType="com.amadeus.framework.domain.course.CourseInfo">
            <id column="course_id" property="courseId" jdbcType="CHAR"/>
            <result column="course_name" property="courseName" jdbcType="VARCHAR"/>
            <result column="description" property="description" jdbcType="VARCHAR"/>
            <result column="favor_number" property="favorNumber" jdbcType="INTEGER"/>
            <result column="click_number" property="clickNumber" jdbcType="INTEGER"/>
            <result column="course_level" property="courseLevel" jdbcType="VARCHAR"/>
            <result column="course_state" property="courseState" jdbcType="TINYINT"/>
            <result column="release_date" property="releaseDate" jdbcType="DATE"/>
        </association>
    </resultMap>
    
    <insert id="insert" parameterType="com.amadeus.framework.domain.course.CourseImage">
        insert into amadeus.course_image(image_id, small_image, medium_image, big_image, banner, is_banner, course_id)
        values(#{imageId},#{smallImage},#{mediumImage},#{bigImage},#{banner},#{isBanner},#{courseInfo.courseId})
    </insert>

</mapper>